<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.13.18" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net472" />
  <package id="NBitcoin" version="4.2.15" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="ReactiveUI" version="10.5.7" targetFramework="net472" />
  <package id="ReactiveUI.XamForms" version="10.5.7" targetFramework="net472" />
  <package id="Splat" version="9.1.1" targetFramework="net472" />
  <package id="Splat.Drawing" version="9.1.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections" version="4.0.11" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net472" />
  <package id="System.Linq" version="4.1.0" targetFramework="net472" />
  <package id="System.Reactive" version="4.2.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net472" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.3.0.851321-pre3" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.GTK" version="4.3.0.851321-pre3" targetFramework="net472" />
</packages>