@page "/receive/address"
@using Chaincase.UI.Services
@using Chaincase.Common.Contracts
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject ReceiveViewModel ReceiveViewModel
@inject IShare Share
@inherits ReactiveComponentBase<ReceiveViewModel>

<ion-content class="ion-padding">
    <p style="width: 256px; height: 256px; margin: auto">
        <QRCode Data="@ViewModel.BitcoinUri"></QRCode>
    </p>
   

    <p>@ViewModel.AppliedLabel</p>
    <ion-label>Address</ion-label>
    <p>@ViewModel.Address</p>

    <IonButton OnClick="ShareLink" expand="block">SHARE LINK</IonButton>
    <IonButton href="/overview" expand="block">DONE</IonButton>
</ion-content>

@code {

    protected override void OnInitialized()
    {
        ViewModel = ReceiveViewModel;
        UiStateService.Title = "RECEIVE";
    }

    private async Task ShareLink() {
         await Share.ShareText(ViewModel.BitcoinUri);
    }
}
