@page "/receive/address"
@using Chaincase.UI.Services
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject ReceiveViewModel ReceiveViewModel
@inherits ReactiveComponentBase<ReceiveViewModel>

<ion-content class="ion-padding">


    <p>@ViewModel.AppliedLabel</p>
    <ion-label>Address</ion-label>
    <p>@ViewModel.Address</p>

    
</ion-content>

@code {

    protected override void OnInitialized()
    {
        ViewModel = ReceiveViewModel;
        UiStateService.Title = "RECEIVE";
    }

}
