@page "/backup/words"
@using Chaincase.UI.Services
@inject UIStateService UiStateService
@inject StackService StackService 
@inject NavigationManager NavigationManager
@inject BackUpViewModel BackUpViewModel
@inherits ReactiveComponentBase<BackUpViewModel> 

<IonContent class="ion-padding">
    <h1>BACK UP</h1>
    <p>Be sure to write each word in order as shown and on paper. We will help you verify after.</p>
    <ion-slides style="height:50%;" pager="true">
        @for (int i = 0; i < ViewModel.SeedWords.Count(); i++)
        {
            <ion-slide>
                <h1>@(i+1). @ViewModel.SeedWords.ElementAt(i)</h1>
            </ion-slide>
        }
    </ion-slides>

    <IonButton OnClick="NavigateToVerify" expand="block">VERIFY</IonButton>

</IonContent>

@code {

    protected override void OnInitialized()
    {
        ViewModel = BackUpViewModel;
        UiStateService.Title = "BACK UP";
    }

    private void NavigateToVerify()
    {
        StackService.PushStackState(async () =>
        {
            await NavigationManager.NavigateBack(null, "/backup/words");
        });
        NavigationManager.NavigateTo("/backup/verify");
    }

}
