@page "/"
@using Chaincase.UI.Services

@inject UIStateService UiStateService
@inject NavigationManager NavigationManager

 @*put wallet info button in navbar*@ 
<ion-content class="ion-padding">
    <h1>[BTC Balance]</h1>
    <h4>[Balance]</h4>
    <p>Tor running 2 peers Ready</p>
    <ion-progress-bar color="primary" />

    <p>First sync may be a few minutes.</p>
    <ion-button expand="block"
                href="backup/start"
                @onclick='() => NavigationManager.NavigateTo("backup/start")'
                @onclick:preventDefault="true">
        DON'T FORGET TO MAKE A BACKUP
    </ion-button>
    <ion-button expand="block"
                href="receive"
                @onclick='() => NavigationManager.NavigateTo("receive")'
                @onclick:preventDefault="true">
        GET RECEIVE ADDRESS
    </ion-button>

    <ion-button expand="block"
                href="send"
                @onclick='() => NavigationManager.NavigateTo("send")'
                @onclick:preventDefault="true">SEND</ion-button>

    <ion-button expand="block"
                href="coinjoin"
                @onclick='() => NavigationManager.NavigateTo("coinjoin")'
                @onclick:preventDefault="true">COINJOIN</ion-button>
</ion-content>

@code{

    protected override void OnInitialized()
    {
        UiStateService.Title = "Chaincase";
        base.OnInitialized();
    }

}
