@layout FullPageLayout
@page "/"
@using Chaincase.UI.Services
@using Chaincase.Common

@inject Global Global
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject PINViewModel PINViewModel
@inherits ReactiveComponentBase<PINViewModel>

<ion-content class="ion-padding">
    <p>yolo</p>
    <PasswordInputItem @bind-Value="Password" />
    <IonButton @onclick="ClickSubmitPassword" expand="block">Log in</IonButton>

</ion-content>

@code {
    private string Password { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = PINViewModel;

        if (!Global.HasWalletFile())
            NavigationManager.NavigateTo("/landing");

        UiStateService.Title = "Chaincase";
        base.OnInitialized();
    }

    private void ClickSubmitPassword(MouseEventArgs _)
    {
        SubmitPassword(Password);
    }

    private void SubmitPassword(string password)
    {
        if (ViewModel.IsPasswordValid(password ?? ""))
            NavigationManager.NavigateTo("/overview");
    }
}
