@layout FullPageLayout
@page "/landing"
@using Chaincase.UI.Services
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject StackService StackService

<IonContent class="ion-padding">
    <h1>BITCOIN FOR HUMANS</h1>

    <IonButton OnClick='@(() => StackPush("/new"))' expand="block">NEW WALLET</IonButton>
    <IonButton OnClick='@(() => StackPush("/load"))' expand="block">LOAD WALLET</IonButton>
</IonContent>

@code {

    protected override void OnInitialized()
    {
        UiStateService.Title = "CREATE WALLET";
        base.OnInitialized();
    }

    private void StackPush(string uri)
    {
        StackService.PushStackState(async () =>
        {
            await NavigationManager.NavigateBack(null, "/landing");
        });
        NavigationManager.NavigateTo(uri);
    }

}
