@page "/landing"
@using Chaincase.UI.Services
@inject UIStateService UiStateService

<ion-content class="ion-padding">
    <h1>BITCOIN FOR HUMANS</h1>

    <IonButton href="new" expand="block">NEW WALLET</IonButton>
    <IonButton href="load" expand="block">LOAD WALLET</IonButton>
</ion-content>

@code {

    protected override void OnInitialized()
    {
        UiStateService.Title = "CREATE WALLET";
    }

}
