@layout FullPageLayout
@page "/"
@using Chaincase.UI.Services
@using Chaincase.Common

@inject Global Global
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject PINViewModel PINViewModel
@inherits ReactiveComponentBase<PINViewModel>

<IonContent class="ion-padding">
    <IonImg style="box-sizing: content-box; margin: 0 auto; padding: 10vw; width: 50vw;"
            src='@($"_content/Chaincase.UI/img/chaincase-{(UiStateService.DarkMode ? "dark" : "light" )}-theme-mark.svg")' />
    <IonLabel position="stacked">Enter Password</IonLabel>
    <div class="@(IsShaking ? "shake" : "")">
        <IonItem>
            <IonPasswordInput @bind-Value="Password" placeholder="e.g. margaretthatcheris110%SEXY" />
        </IonItem>
    </div>
    <IonButton color="primary" @onclick="ClickSubmitPassword" expand="block">LOG IN</IonButton>

    <IonLoading @bind-Visible="@ViewModel.IsBusy" />
</IonContent>

@code {
    private string Password { get; set; }
    private bool IsShaking { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = PINViewModel;

        if (!Global.HasWalletFile())
            NavigationManager.NavigateTo("/landing");

        UiStateService.Title = "Chaincase";
        base.OnInitialized();
    }

    private async Task ClickSubmitPassword(MouseEventArgs _)
    {
        await SubmitPassword(Password);
    }

    private async Task SubmitPassword(string password)
    {
        try
        {
            IsShaking = false;
            await ViewModel.IsPasswordValidAsync(password ?? "");
            NavigationManager.NavigateTo("/overview");
        } catch {
            IsShaking = true;
        }
    }
}
