@layout FullPageLayout
@page "/"
@using WalletWasabi.Wallets
@using Chaincase.UI.Services
@using Chaincase.Common.Services

@inject ChaincaseWalletManager WalletManager
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject PINViewModel PINViewModel
@inherits ReactiveComponentBase<PINViewModel>

<IonContent>
    <SplashLogo></SplashLogo>
    <IonLabel id="passwordId" class="ion-padding" position="stacked">Enter Password</IonLabel>
    <div class="@(IsShaking ? "shake" : "")">
        <IonItem>
            <IonPasswordInput aria-labelledby="passwordId" @bind-Value="Password" />
        </IonItem>
    </div>
    <IonButton  id="btn-load-wallet" class="neu-button ion-padding-horizontal" color="primary" @onclick="ClickSubmitPassword" expand="block">LOG IN</IonButton>

    <IonLoading @bind-Visible="@ViewModel.IsBusy" />
</IonContent>

@code {
    private string Password { get; set; }
    private bool IsShaking { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = PINViewModel;

        if (!(WalletManager).HasDefaultWalletFile())
            NavigationManager.NavigateTo("/landing");

        UiStateService.Title = "Chaincase";
        base.OnInitialized();
    }

    private async Task ClickSubmitPassword(MouseEventArgs _)
    {
        await SubmitPassword(Password);
    }

    private async Task SubmitPassword(string password)
    {
        try
        {
            IsShaking = false;
            await ViewModel.IsPasswordValidAsync(password ?? "");
            NavigationManager.NavigateTo("/overview");
        } catch {
            IsShaking = true;
        }
    }
}
