@page "/receive"
@using Chaincase.Common.Contracts
@using Chaincase.UI.Services
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager

<ion-content class="ion-padding">
    <ion-label>Label</ion-label>
    <IonInput @bind-Value="Label" placeholder="e.g. Dan for bread" />
    <p>You must write a memo here for your accounting. It's best to write who you will give this address to.</p>

    <IonButton href="/receive/address" expand="block">NEXT</IonButton>
</ion-content>

@code {

    private string Label { get; set; }

    protected override void OnInitialized()
    {
        UiStateService.Title = "CREATE WALLET";
    }

}
