@page "/receive"
@using Chaincase.UI.Services

@inject IJSRuntime JS
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject ReceiveViewModel ReceiveViewModel
@inherits ReactiveComponentBase<ReceiveViewModel>

<IonContent class="ion-padding">
    <p>Who are you receiving from?</p>
    <p>This information is never shared with anyone. Contact labels help keep your future activity private.</p>
    <IonLabel>Contact Label</IonLabel>
    <IonInput @bind-Value="@ViewModel.ProposedLabel" placeholder="a contact e.g. Mt. Fox exchange" />


    <IonButton @onclick="ApplyLabel" disabled="@IsContinueDisabled" expand="block">Continue</IonButton>

</IonContent>

@code {

    protected override void OnInitialized()
    {
        ViewModel = ReceiveViewModel;
        UiStateService.Title = "RECEIVE";
    }

    private bool IsContinueDisabled => ViewModel.ProposedLabel.IsNullOrWhiteSpace();

    private void ApplyLabel()
    {
        ViewModel.InitNextReceiveKey();
        NavigationManager.NavigateTo("receive/address");
    }

}
