@page "/selectcoins"

@using Chaincase.Common
@inject Global Global
@inject SelectCoinsViewModel SelectCoinsViewModel
@inherits ReactiveComponentBase<SelectCoinsViewModel>


<IonContent>

    @if (!ViewModel.CoinList.Any())
    {
        <IonText>
            <p>Your coins will appear here</p>
        </IonText>
    }
    else
    {
        <IonList>
            @foreach (var coin in ViewModel.CoinList)
            {
                <IonItemSliding>
                    <SelectableCoin CoinViewModel="@coin" />

                    <IonItemOptions side="end">
                        <IonItemOption OnClick="@(() => OpenCoinDetail(coin))" color="secondary">Details</IonItemOption>
                    </IonItemOptions>
                </IonItemSliding>
            }
        </IonList>
    }

</IonContent>

<CoinDetailModal @bind-Visible="@IsDetailModalVisible" @bind-CoinViewModel="@CurrentCoinViewModel"/>




@code {

    private string CoinSelectionRadios { get; set; }

    private bool IsDetailModalVisible { get; set; }

    private CoinViewModel CurrentCoinViewModel { get; set; }

    protected override void OnParametersSet()
    {
        ViewModel = SelectCoinsViewModel;
        base.OnParametersSet();
    }

    private void OpenCoinDetail(CoinViewModel coin)
    {
        CurrentCoinViewModel = coin;
        IsDetailModalVisible = true;
    }
}
