@page "/selectcoins"

@inject SelectCoinsViewModel SelectCoinsViewModel
@inherits ReactiveComponentBase<SelectCoinsViewModel>

<ion-content>

    @if (!ViewModel.CoinList.Any())
    {
        <ion-text>
            <p>Your coins will appear here</p>
        </ion-text>
    }
    else
    {
        <IonList>
            @foreach (var coin in ViewModel.CoinList)
            {
                <ion-item-sliding>
                    <SelectableCoin CoinViewModel="@coin" />

                    <ion-item-options side="end">
                        <IonItemOption OnClick="@(() => OpenCoinDetail(coin))" color="secondary">Details</IonItemOption>
                    </ion-item-options>
                </ion-item-sliding>
            }
        </IonList>
    }

</ion-content>

<CoinDetailModal @bind-Visible="@IsDetailModalVisible" @bind-CoinViewModel="@CurrentCoinViewModel"/>


@code {

    private string CoinSelectionRadios { get; set; }

    private bool IsDetailModalVisible { get; set; }

    private CoinViewModel CurrentCoinViewModel { get; set; }

    protected override void OnParametersSet()
    {
        ViewModel = SelectCoinsViewModel;
        base.OnParametersSet();
    }

    private void OpenCoinDetail(CoinViewModel coin)
    {
        CurrentCoinViewModel = coin;
        IsDetailModalVisible = true;
    }
}
