@page "/send/who"
@using Chaincase.UI.Services
@inject SendViewModel vm
@inject UIStateService UiStateService

@inherits ReactiveComponentBase<SendViewModel>

<ion-content class="ion-padding">
    <h1>Sending to who?</h1>

    <ion-label>Address</ion-label>
    @* TODO put a paste button at the end of the input*@
    <IonInput @bind-Value="AddressString" placeholder="Enter address..."/>

    @*qr code reader goes here*@
    <IonButton href="/send/label" expand="block">NEXT</IonButton>
</ion-content>

@code {

    private string Label { get; set; }
    private string AddressString { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = vm;
        UiStateService.Title = "SEND";
    }
}
