@page "/send/amount"
@using Chaincase.UI.Services
@inject SendViewModel vm
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inherits ReactiveComponentBase<SendViewModel>

<ion-content class="ion-padding">

    <IonItem>
        <ion-label>Amount</ion-label>
        <IonInput @bind-Value="@ViewModel.AmountText" type="number" />
    </Ionitem>
    <span>$[dollars]</span>

    @*<ion-label>Set Max</ion-label> TODO should be a button that just sets amount & coin selection*@
    <IonToggle name="grape" color="tertiary" Value="true"></IonToggle>

    <span  class="ion-text-center">Send From</span>
    <IonButton OnClick="ToggleSelectCoinsModal" expand="block">x Coins Selected</IonButton>
    <span class="ion-text-center">[amount] BTC selected to fund</span>

    <span>Fee @ViewModel.FeeRate sat / vbyte</span>

    <IonButton href="/send/confirm" expand="block">CONFIRM</IonButton>

    <SelectCoinsModal @bind-Visible="@IsSelectCoinsModalVisible"
                      SelectCoinsViewModel="@ViewModel.SelectCoinsViewModel" />
</ion-content>

@code {

    private bool IsSelectCoinsModalVisible;
    private double amount { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = vm;
        UiStateService.Title = "SEND";
    }

    private void ToggleSelectCoinsModal() =>
        IsSelectCoinsModalVisible = !IsSelectCoinsModalVisible;

}
