@page "/send/label"
@using Chaincase.UI.Services
@using Microsoft.AspNetCore.Components
@inject SendViewModel SendViewModel
@inject UIStateService UiStateService
@inject StackService StackService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inherits ReactiveComponentBase<SendViewModel>

<ion-content class="ion-padding">
    <h1>Send bitcoin</h1>

    <ion-label floating>Contact Label</ion-label>
    <IonInput @bind-Value="@ViewModel.Label" placeholder="e.g. Bob, Me, Mt. Fox..." debounce="16"/>

    <IonButton OnClick="OnContinue" expand="block" disabled="@IsLabelEmpty">CONTINUE</IonButton>
</ion-content>

@code {

    protected override void OnInitialized()
    {
        ViewModel = SendViewModel;
        UiStateService.Title = "SEND";
    }

    public void OnContinue()
    {
        StackService.PushStackState(async () =>
        {
            await NavigationManager.NavigateBack(JsRuntime, $"send/label");
        });
        NavigationManager.NavigateTo("send/amount");
    }

    public bool IsLabelEmpty => ViewModel.Label.IsNullOrWhiteSpace();

}
