@page "/send/approve"
@using Chaincase.UI.Services;
@using System.Reactive.Threading.Tasks;

@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject StackService StackService 
@inject SendViewModel SendViewModel
@inherits ReactiveComponentBase<SendViewModel>

<IonContent>
    <div class="ion-padding">
        <p class="ion-text-center">₿ @ViewModel.AmountText</p>
        <p class="ion-text-center">To @ViewModel.DestinationString</p>

        <IonLabel id="passwordId" position="stacked">Enter Password</IonLabel>
    </div>
    <div class="@(IsShaking ? "shake" : "")">
        <IonItem>
            <IonPasswordInput @bind-Value="Password" placeholder="e.g. margaretthatcheris110%SEXY"
                              aria-labelledby="passwordId" />
        </IonItem>
    </div>

    <IonLoading Visible="@ViewModel.IsBusy"></IonLoading>
</IonContent>
<IonFooter class="ion-padding">
    <IonButton class="neu-button" @onclick="ClickSendNow" expand="block">SEND NOW</IonButton>
</IonFooter>

@code {
    private string Password { get; set; }
    private bool IsShaking { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = SendViewModel;
        UiStateService.Title = "SEND";
    }

    private async Task ClickSendNow()
    {
        IsShaking = false;
        var isSent = await ViewModel.SendTransactionCommand.Execute(Password).ToTask();
        if (isSent)
        {
            // TODO clear stack service
            NavigationManager.NavigateTo("/send/sent");
        } else
        {
            IsShaking = true;
        }
    }
}
