@page "/send/who"
@using Chaincase.UI.Services
@using Microsoft.AspNetCore.Components
@inject SendViewModel SendViewModel
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager
@inject StackService StackService
@inject IJSRuntime JsRuntime

@inherits ReactiveComponentBase<SendViewModel>

<ion-content class="ion-padding">
    <h1>Sending to who?</h1>

    <ion-label>Address</ion-label>
    @* TODO put a paste button at the end of the input*@
    <IonInput @bind-Value="AddressString" placeholder="Enter address..."/>

    @*qr code reader goes here*@
    <IonButton OnClick="OnContinue" expand="block">NEXT</IonButton>
</ion-content>

@code {

    private string Label { get; set; }
    private string AddressString { get; set; }

    protected override void OnInitialized()
    {
        ViewModel = SendViewModel;
        UiStateService.Title = "SEND";
        StackService.ClearStack();
    }

    public void OnContinue()
    {
        StackService.PushStackState(async () =>
        {
            await NavigationManager.NavigateBack(JsRuntime, $"send/who");
        });
        NavigationManager.NavigateTo("/send/label");
    }

}
