@page "/send/label"
@using Chaincase.UI.Services
@using Microsoft.AspNetCore.Components
@inject SendViewModel SendViewModel
@inject UIStateService UiStateService
@inject StackService StackService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inherits ReactiveComponentBase<SendViewModel>

<IonContent>
    <div class="ion-padding">
        <IonItem>
            <IonLabel position="stacked">Add Label</IonLabel>
            <IonInput @bind-Value="@ViewModel.Label" placeholder="Who are you sending to?" />
        </IonItem>
    </div>
    <IonCard color="primary">
        <IonCardContent>
            <strong>Info:</strong>
            Contact labels help keep your future activity private and organized. This information is not shared with anyone.
        </IonCardContent>
    </IonCard>
</IonContent>
<IonFooter class="ion-padding">
    <IonButton OnClick="OnContinue" color="primary" expand="block" disabled="@IsLabelEmpty">CONTINUE</IonButton>
</IonFooter>

@code {

    protected override void OnInitialized()
    {
        ViewModel = SendViewModel;
        UiStateService.Title = "SEND";
    }

    public void OnContinue()
    {
        StackService.PushStackState(async () =>
        {
            await NavigationManager.NavigateBack(JsRuntime, $"send/label");
        });
        NavigationManager.NavigateTo("send/amount");
    }

    public bool IsLabelEmpty => ViewModel.Label.IsNullOrWhiteSpace();

}
