@page "/send/label"
@using Chaincase.Common.Contracts
@using Chaincase.UI.Services

@inject UIStateService UiStateService
@inject NavigationManager NavigationManager

@inherits ReactiveComponentBase<SendViewModel>

<ion-content class="ion-padding">
    <h1>Send bitcoin</h1>

    <ion-label floating>Label</ion-label>
    <IonInput @bind-Value="@ViewModel.Label" placeholder="This transaction is for..." />

    <ion-button href="send/amount"@onclick='NavigateToSendAmountPage' @onclick:preventDefault="true" expand="block">CONTINUE</ion-button>
</ion-content>

@code {

    public SendLabelPage()
    {
        ViewModel = new SendViewModel();
    }

    protected override void OnInitialized()
    {
        UiStateService.Title = "SEND";
    }

   private void NavigateToSendAmountPage() =>
        NavigationManager.NavigateTo("send/amount");
}
