@page "/send/who"
@using Chaincase.Common.Contracts
@using Chaincase.UI.Services
@using Splat;

@inject UIStateService UiStateService
@inject NavigationManager NavigationManager

@inherits ReactiveComponentBase<SendViewModel>

<ion-content class="ion-padding">
    <h1>Sending to who?</h1>

    <ion-label>Address</ion-label>
    @* TODO put a paste button at the end of the input*@
    <IonInput @bind-Value="AddressString" placeholder="Enter address..."/>

    @*qr code reader goes here*@
    <ion-button href="/send/label" @onclick='NavigateToSendLabelPage' @onclick:preventDefault="true" expand="block">NEXT</ion-button>
</ion-content>

@code {

    private string Label { get; set; }
    private string AddressString { get; set; }

    public SendWhoPage()
    {
        ViewModel = Locator.Current.GetService<SendViewModel>();
    }

    protected override void OnInitialized()
    {
        UiStateService.Title = "SEND";
    }

    private void NavigateToSendLabelPage() =>
        NavigationManager.NavigateTo("send/label");

}
