@page "/send/label"
@using Chaincase.UI.Services
@using Chaincase.Common
@inject UIStateService UiStateService
@inject Global Global
@inherits ReactiveComponentBase<SendViewModel>

<ion-content class="ion-padding">
    <h1>Send bitcoin</h1>

    <ion-label floating>Label</ion-label>
    <IonInput @bind-Value="@ViewModel.Label" placeholder="This transaction is for..." />

    <IonButton href="send/amount" expand="block">CONTINUE</IonButton>
</ion-content>

@code {

    public SendLabelPage()
    {
        ViewModel = new SendViewModel(Global);
    }

    protected override void OnInitialized()
    {
        UiStateService.Title = "SEND";
    }

}
