@page "/send/label"
@using Chaincase.UI.Services
@inject SendViewModel vm
@inject UIStateService UiStateService
@inherits ReactiveComponentBase<SendViewModel>

<ion-content class="ion-padding">
    <h1>Send bitcoin</h1>

    <ion-label floating>Label</ion-label>
    <IonInput @bind-Value="@ViewModel.Label" placeholder="This transaction is for..." />

    <IonButton href="send/amount" expand="block">CONTINUE</IonButton>
</ion-content>

@code {

    protected override void OnInitialized()
    {
        ViewModel = vm;
        UiStateService.Title = "SEND";
    }

}
