@page "/send/sent"
@using Chaincase.UI.Services
@inject UIStateService UiStateService

<ion-content class="ion-padding">
    <ion-icon name="paper-plane-outline"></ion-icon>
    <h1>Transaction sent</h1>
    <p>It usually takes about 30 minutes for a transaction to be finalized.</p>
    
    <IonButton href="/" expand="block">DONE</IonButton>
</ion-content>

@code {

    protected override void OnInitialized()
    {
        UiStateService.Title = "SEND";
    }

}
