@page "/backup/verify"
@using Chaincase.UI.Services
@inject UIStateService UiStateService
@inject NavigationManager NavigationManager

<ion-content class="ion-padding">
    <h1>VERIFY</h1>

    @if (IsVerified)
    {
         <IonButton href="/backup/verify" expand="block">VERIFY</IonButton>
    }
</ion-content>

@code {

    bool IsVerified = true;

    protected override void OnInitialized()
    {
        UiStateService.Title = "BACK UP";
    }

}
