<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.2" targetFramework="xamarinmac20" />
  <package id="NBitcoin" version="4.1.2.35" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinmac20" />
  <package id="System.Buffers" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="System.Collections" version="4.0.11" targetFramework="xamarinmac20" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="xamarinmac20" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="xamarinmac20" />
  <package id="System.Globalization" version="4.0.11" targetFramework="xamarinmac20" />
  <package id="System.Linq" version="4.1.0" targetFramework="xamarinmac20" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="xamarinmac20" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Reflection" version="4.1.0" targetFramework="xamarinmac20" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="xamarinmac20" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="4.0.0.425677" targetFramework="xamarinmac20" />
</packages>