<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.11.0.2613" targetFramework="xamarinmac20" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="xamarinmac20" />
  <package id="NBitcoin" version="4.1.2.37" targetFramework="xamarinmac20" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="xamarinmac20" />
  <package id="ReactiveUI" version="9.19.5" targetFramework="xamarinmac20" />
  <package id="Splat" version="8.0.1" targetFramework="xamarinmac20" />
  <package id="System.Buffers" version="4.5.0" targetFramework="xamarinmac20" />
  <package id="System.Collections" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Globalization" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Linq" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="xamarinmac20" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Reactive" version="4.1.5" targetFramework="xamarinmac20" />
  <package id="System.Reflection" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="xamarinmac20" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinmac20" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="xamarinmac20" />
  <package id="Xam.Plugins.Settings" version="4.0.0.10-beta" targetFramework="xamarinmac20" />
  <package id="Xamarin.Forms" version="4.0.0.497661" targetFramework="xamarinmac20" />
</packages>
