@inherits ReactiveComponentBase<CoinViewModel>

<ion-item>
    <p>coin</p>
</ion-item>

@code {
    [Parameter]
    public CoinViewModel CoinViewModel { get; set; }

    protected override void OnParametersSet()
    {
        ViewModel = CoinViewModel;
        base.OnParametersSet();
    }
}
