@inherits ReactiveComponentBase<TransactionViewModel>

<IonItem>
    @if(!ViewModel.Confirmed)
    {
        <IonIcon slot="start"
                  style="color: grey;"
                  name="ellipsis-horizontal-circle-outline" />
    } else if (ViewModel.Amount > 0)
    {
        <IonIcon slot="start"
                  name="add-circle-outline" />
    } else { 
        <IonIcon slot="start"
                  name="remove-circle-outline" />
    }
    <p>@ViewModel.Label</p>
    <p>@ViewModel.AmountBtc</p>
</IonItem>

@code {
    [Parameter]
    public TransactionViewModel TransactionViewModel { get; set; }

    protected override void OnParametersSet()
    {
        ViewModel = TransactionViewModel;
        base.OnParametersSet();
    }
}
