@page "/newpassword"
@inject ICounterState CounterState
@inject UIStateService UiStateService
@using Hara.Abstractions.Contracts
@using Hara.UI.Services
@implements IDisposable

<ion-content class="ion-padding">
    <h1>Set your password</h1>
    <IonInput type="password" Value="@Password" placeholder="e.g. margaretthatcheris110%SEXY" />
    <ion-button @onclick="CounterState.IncrementCount" expand="block">NEXT</ion-button>
</ion-content>

@code {

    string Password;

    protected override void OnInitialized()
    {
        UiStateService.Title = "CREATE WALLET";
        CounterState.StateChanged += StateHasChanged;
    }

    public void Dispose()
    {
        CounterState.StateChanged -= StateHasChanged;
    }

}