@page "/new"
@using Hara.Abstractions.Contracts
@using Hara.UI.Services

@inject UIStateService UiStateService
@inject NavigationManager NavigationManager

@inherits ReactiveComponentBase<NewPasswordViewModel>

<ion-content class="ion-padding">
    <h1>Set your password</h1>
    <ion-item>
        <ion-label floating>Password</ion-label>
        <IonInput type='@(showPassword ? "text" : "password")' @bind-Value="@Password" placeholder="e.g. margaretthatcheris110%SEXY" />
        @if (showPassword)
        {
            <ion-icon slot="end" name="eye" class="eye" @onclick='HideShowPassword' />
        }
        else
        {
            <ion-icon slot="end" name="eye-off" class="eye-off" @onclick='HideShowPassword' />
        }
    </ion-item>
    <ion-button href="" @onclick='SubmitPassword' @onclick:preventDefault="true" expand="block">NEXT</ion-button>
</ion-content>

@code {

    bool showPassword;

    string Password;

    public NewPasswordPage()
    {
        ViewModel = new NewPasswordViewModel();
    }

    protected override void OnInitialized()
    {
        UiStateService.Title = "CREATE WALLET";
    }

    private void SubmitPassword(MouseEventArgs _)
    {
        ViewModel.SetPassword(Password);
        NavigationManager.NavigateTo("");
    }

    private void HideShowPassword()
    {
        showPassword = !showPassword;
    }
}
